<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>1</string>
		<key>title</key>
		<string>一般</string>
		<key>img</key>
		<string>normal</string>
		<key>color</key>
		<string>86869E</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>2</string>
		<key>title</key>
		<string>餐饮</string>
		<key>img</key>
		<string>Restaurant</string>
		<key>color</key>
		<string>e46084</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>3</string>
		<key>title</key>
		<string>日用品</string>
		<key>img</key>
		<string>commodity</string>
		<key>color</key>
		<string>4FABC2</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>15</string>
		<key>title</key>
		<string>零食饮料</string>
		<key>img</key>
		<string>Restaurant1</string>
		<key>color</key>
		<string>F4A460</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>14</string>
		<key>title</key>
		<string>果蔬</string>
		<key>img</key>
		<string>Fruits</string>
		<key>color</key>
		<string>209E85</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>26</string>
		<key>title</key>
		<string>娱乐</string>
		<key>img</key>
		<string>entertainment</string>
		<key>color</key>
		<string>FFEA00</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>27</string>
		<key>title</key>
		<string>电影</string>
		<key>img</key>
		<string>movie</string>
		<key>color</key>
		<string>404040</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>18</string>
		<key>title</key>
		<string>服饰</string>
		<key>img</key>
		<string>clothing</string>
		<key>color</key>
		<string>6495ED</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>6</string>
		<key>title</key>
		<string>交通</string>
		<key>img</key>
		<string>transportation</string>
		<key>color</key>
		<string>c3bed4</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>7</string>
		<key>title</key>
		<string>话费</string>
		<key>img</key>
		<string>telephone</string>
		<key>color</key>
		<string>ABD6E0</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>4</string>
		<key>title</key>
		<string>房租</string>
		<key>img</key>
		<string>housing</string>
		<key>color</key>
		<string>8AA184</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>5</string>
		<key>title</key>
		<string>水电气</string>
		<key>img</key>
		<string>hydropower</string>
		<key>color</key>
		<string>F0D800</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>8</string>
		<key>title</key>
		<string>医疗</string>
		<key>img</key>
		<string>medical</string>
		<key>color</key>
		<string>f17c67</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>9</string>
		<key>title</key>
		<string>健身</string>
		<key>img</key>
		<string>fit</string>
		<key>color</key>
		<string>E9F01D</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>16</string>
		<key>title</key>
		<string>烟酒</string>
		<key>img</key>
		<string>cigarettes</string>
		<key>color</key>
		<string>D4C69F</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>11</string>
		<key>title</key>
		<string>恋爱</string>
		<key>img</key>
		<string>love</string>
		<key>color</key>
		<string>d699ba</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>10</string>
		<key>title</key>
		<string>社交</string>
		<key>img</key>
		<string>social</string>
		<key>color</key>
		<string>376956</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>17</string>
		<key>title</key>
		<string>美妆</string>
		<key>img</key>
		<string>Makeup</string>
		<key>color</key>
		<string>8F74AD</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>29</string>
		<key>title</key>
		<string>宠物</string>
		<key>img</key>
		<string>pet</string>
		<key>color</key>
		<string>AAB8A3</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>30</string>
		<key>title</key>
		<string>花草</string>
		<key>img</key>
		<string>flower</string>
		<key>color</key>
		<string>E1CFD8</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>21</string>
		<key>title</key>
		<string>子女</string>
		<key>img</key>
		<string>baby</string>
		<key>color</key>
		<string>9999FF</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>12</string>
		<key>title</key>
		<string>家居</string>
		<key>img</key>
		<string>furniture</string>
		<key>color</key>
		<string>495A80</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>13</string>
		<key>title</key>
		<string>人工</string>
		<key>img</key>
		<string>repair</string>
		<key>color</key>
		<string>8C585F</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>23</string>
		<key>title</key>
		<string>汽车</string>
		<key>img</key>
		<string>car</string>
		<key>color</key>
		<string>BAA834</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>22</string>
		<key>title</key>
		<string>旅行</string>
		<key>img</key>
		<string>travel</string>
		<key>color</key>
		<string>0077B8 </string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>28</string>
		<key>title</key>
		<string>礼物</string>
		<key>img</key>
		<string>gift</string>
		<key>color</key>
		<string>733C12</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>24</string>
		<key>title</key>
		<string>学习</string>
		<key>img</key>
		<string>study</string>
		<key>color</key>
		<string>FF0090</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>25</string>
		<key>title</key>
		<string>书刊</string>
		<key>img</key>
		<string>book</string>
		<key>color</key>
		<string>b00404</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>20</string>
		<key>title</key>
		<string>AppStore</string>
		<key>img</key>
		<string>app</string>
		<key>color</key>
		<string>BF6A67</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>19</string>
		<key>title</key>
		<string>数码</string>
		<key>img</key>
		<string>digital</string>
		<key>color</key>
		<string>86BD77</string>
		<key>group</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>31</string>
		<key>title</key>
		<string>工资</string>
		<key>img</key>
		<string>salary</string>
		<key>color</key>
		<string>1E90FF</string>
		<key>group</key>
		<string>1</string>
	</dict>
	<dict>
		<key>key</key>
		<string>33</string>
		<key>title</key>
		<string>兼职</string>
		<key>img</key>
		<string>parttime</string>
		<key>color</key>
		<string>6B6575</string>
		<key>group</key>
		<string>1</string>
	</dict>
	<dict>
		<key>key</key>
		<string>32</string>
		<key>title</key>
		<string>投资</string>
		<key>img</key>
		<string>freejob</string>
		<key>color</key>
		<string>008080</string>
		<key>group</key>
		<string>1</string>
	</dict>
	<dict>
		<key>key</key>
		<string>34</string>
		<key>title</key>
		<string>礼物</string>
		<key>img</key>
		<string>gift</string>
		<key>color</key>
		<string>E880A2</string>
		<key>group</key>
		<string>1</string>
	</dict>
	<dict>
		<key>key</key>
		<string>35</string>
		<key>title</key>
		<string>其他</string>
		<key>img</key>
		<string>other</string>
		<key>color</key>
		<string>EDAF1F</string>
		<key>group</key>
		<string>1</string>
	</dict>
</array>
</plist>
